.maindiv{
  margin: 10px 30px;
  padding: 8px;
  border: 1px solid #e5e5e5;
}
.inputSearch{
  height: 28px;
}
.tbl-head{
  padding: 15px 0px;
}
.searchBtn{
  float: right;
}
.tblhead-text{
  font-size: 20px;
  font-weight: bold;
}
.all-charts{
  margin: 10px 30px;
  /*height:500px;
  width:500px;*/
}
.chart-one{
  padding: 10px;
  /*border: 1px solid #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;*/
}
.col-3{
  height: 300px;
  width: 32%;
  display: inline-block;
  /*border: 1px solid #f5f5f5;*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.middle-col{
  margin: 0 2%;
}
@media only screen and (max-width: 600px) {
  .col-3{
    width: 100%;
    margin:0;
  }
}

@media only screen and (min-width: 600px) {
  .root-div{
    margin:0 12%;
  }
  .col-3{
    height: 230px;
  }
}
